albumentations
beautifulsoup4
facenet_pytorch
Flask
flask_cors
langchain
numpy
openai
pandas
Pillow
pytesseract
pytube
Requests
timm
torch
torchvision
langchain-community
google-api-python-client
translate